.brand-gradient {
    background: #2c79dd;
    background: -webkit-linear-gradient(to top, #2c79dd, #25b62f);
    background: linear-gradient(to top, #2c79dd, #25b62f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.banner-holder{
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: bottom;
    margin-left: 10px;
    margin-right: 10px;
}